.vscode
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
node_modules/
/.dir-locals.el
/package
.byebug_history

dist/**
!dist/.keep

app/assets/javascripts/**
!app/assets/javascripts/.keep

*~
*.log
*.tgz

test/dummy/tmp/
